* {
    font-family: 'Raleway', sans-serif !important;
}

body {
    margin-bottom: 50px; /* to account for fixed bottom nav */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fredoka One', cursive !important;
}

._dash-loading {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
